*
{
	margin: 0;
	padding: 0;

}


body
{
	font-family: 'Quicksand', sans-serif;
	background-color: #161725!important;
	height: 100vh;
	width: 100%;
	
}
.main{
	width: 100%;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #161725!important;
	
}
.VideoContainer{
	width: 120%;
	height: 100%;
	display: flex;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 align-items: center;
}
.titlebox
{
	width: 90%;
	height: 5%;
	display: flex;
	margin-bottom: 2.5%;
	flex-direction: row;
	 visibility: visible;
	 /*background-color:  #262638;*/
	 align-items: center;
}
h1
{
	font-size: clamp(1rem, 1.5vw, 1.5rem) !important;
	color: #fff;
	text-align: left;
	font-weight: 600;
}
span
{
	font-size: clamp(1rem, 1.15vw, 1.25rem) !important;
	color: #fff;
	text-align: left;
	font-weight: 400;
		margin-bottom: 5%;
}
.videobox
{
	width: 90%;
	height: 45%;
	display: flex;
	margin-bottom: 5%;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	 	  -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}

.btncontainer
{
	width: 70%;
	height: 25%;
	display: flex;
	margin-bottom: 5%;
	border-radius: 15px;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #262638;*/
	 align-items: center;
}
.copylink
{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #fff;*/
	 align-items: center;
}
.copyemail
{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #242424;*/
	 align-items: center;
}
button
{
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #00e670;
	 align-items: center;
	 font-size: 1vw;
	 color: #161725;
	 font-weight: 600;
	 border-radius: 15px;
	 display: inline-block;
	 outline: none;
	 border: none;
}
.vpnbtn
{
	background-color: #FAC401;
}
button:hover
{
	cursor: pointer;
}
.AdsContainer{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #fff;*/
	 align-items: center;
}
.Adsbox
{
	width: 80%;
	height: 50%;
	display: flex;
	border-radius: 15px;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #262638;*/
	 align-items: center;
}
.banner1
{
	width: 90%;
	height: 23.20%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner2
{
	width: 90%;
	height: 23.20%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner3
{
width: 90%;
	height: 23.20%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}

img {
  object-fit: cover;
}

@media only screen and (orientation: portrait) {
  .main{
	width: 100%;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #161725!important;
	
}
.VideoContainer{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 align-items: center;
}
.videobox
{
	width: 100%;
	height: 45%;
	display: flex;
	margin-bottom: 5%;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	 	  -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.AdsContainer{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #fff;*/
	 align-items: flex-start;
}
img {
  object-fit: cover;
}
.banner1
{
width: 74.5vw;
	height: 19.2vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner2
{
width: 74.5vw;
	height: 19.2vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner3
{
width: 74.5vw;
	height: 19.2vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
h1
{
	font-size: 4vw !important;
	color: #fff;
	text-align: left;
	font-weight: 600;
			margin-bottom: 5%;
			margin-top: 5%;
}
span
{
	font-size: 3vw !important;
	color: #fff;
	text-align: left;
	font-weight: 400;
		margin-bottom: 5%;
		margin-top: 10%;
}
.btncontainer
{
	width: 90%;
	height: 25%;
	display: flex;
	margin-bottom: 5%;
	border-radius: 15px;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #262638;*/
	 align-items: center;
}
button
{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #00e670;
	 align-items: center;
	 font-size: 3.25vw;
}
}
@media only screen and (max-width: 1500px) and (min-width: 700px) and (orientation: portrait) {
.VideoContainer{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	 justify-content: center;
	 visibility: visible;
	 align-items: center;
}
.videobox
{
	width: 80%;
	height: 45%;
	display: flex;
	margin-bottom: 5%;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	 	  -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.AdsContainer{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 /*background-color: #fff;*/
	 align-items: flex-start;
}
span
{
	font-size: 2vw !important;
	color: #fff;
	text-align: left;
	font-weight: 400;
		margin-bottom: 5%;
		margin-top: 10%;
}
h1
{
	font-size: 3.7vw !important;
	color: #fff;
	text-align: left;
	font-weight: 600;
	margin-bottom: 5%;
}
.banner1
{
	width: 59.6vw;
	height: 15.36vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner2
{
	width: 59.6vw;
	height: 15.36vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 	margin-bottom: 5%;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
.banner3
{
width: 59.6vw;
	height: 15.36vw;
	display: flex;
	flex-direction: row;
	 justify-content: center;
	 visibility: visible;
	 background-color: #262638;
	 align-items: center;
	   -webkit-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
box-shadow: 2px 15px 30px -6px rgba(0,0,0,0.75);
}
}
